<!doctype HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Andy Jones">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="/favicon.ico">

    <style>
      :root {
        --tone: #6d2e98;
        --grey: #444;
        --white: #f8f8f8;
      }

      html {
          height: 100%;
          width: 100%;
      }

      body {
          display: flex;
          flex-direction: column;
          background: var(--tone);
          color: #F8F8F8;
          width: 100%;
          font-family: sans-serif;
          margin: 0px;
          text-align: justify;
      }

      a:visited {
          color: var(--tone);
      }

      .tinted {
          color: #444;
          background: #f8f8f8;
          text-decoration: none;
      }

      #banner a {
          color: #F8F8F8;
          text-decoration: none;
      }

      #footer a {
          color: #F8F8F8;
          text-decoration: none;
      }

      .column {
          max-width: min(100%, 960px);
          margin: auto;
          padding: 5px;
      }

      #banner {
          padding: 10px;
          font-size: large;
          display: flex;
          vertical-align: middle;
          justify-content: space-between;
      }

      #title {
          font-weight: 700;
      }

      #social img {
          filter: invert();
          height: 20px;
          width: 20px;
          padding-left: 2px;
          padding-right: 2px;
      }

      .sep {
          margin-left: 10px;
          margin-right: 10px;
      }


      #content {
          margin-bottom: 5px;
          margin: auto;
      }

      #date {
          margin: auto;
      }

      code {
          font-family: "Lucida Console", monospace;
          word-wrap: break-word;
      }

      pre {
          font-family: "Lucida Console", monospace;
          background-color: #EEE;
          padding: 10px;

          white-space: pre-wrap;
          word-wrap: break-word;
      }

      sup {
          font-size: x-small;
      }

      hr {
          border-color: var(--tone);
      }

      #content img {
          display: block;
          margin: auto;
          max-width: 100%;
      }

      #footer {
          padding: 5px;
          font-size: x-small;
          vertical-align: middle;
          margin: auto;
          text-align: center;
      }

    {{style}}
    </style>

    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{image|default('https://andyljones.com/icons/robot-solid.png')}}">
    <meta property="og:image:height" content="512">
    <meta property="og:image:width" content="512">
    {# <meta property="og:url" content="https://andyljones.com/"> #}
    <meta name="twitter:card" content="summary">

    <title>{{title}}</title>
  </head>
  <body>
    <div>
      <div id="banner" class="column">
        <div id="title"><a href="/">andy jones</a></div>
        <div id="social">
          <a href="/rss.xml"><img src='/icons/rss-solid.svg' alt='RSS'></a>
          <span class='sep'></span>
          <a href="mailto:me@andyljones.com"><img src='/icons/at-solid.svg' alt='Email'></a>
          <span class='sep'></span>
          <a href="https://scholar.google.com/citations?user=wjU_zmMAAAAJ"><img src='/icons/scholar-brands.svg' alt='Scholar'></a>
          <a href="https://github.com/andyljones"><img src='/icons/github-brands.svg' alt='Github'></a>
          <a href="https://www.linkedin.com/in/andyjonescs"><img src='/icons/linkedin-in-brands.svg' alt='LinkedIn'></a>
          <span class='sep'></span>
          <a href="https://twitter.com/andy_l_jones"><img src='/icons/twitter-brands.svg' alt='Twitter'></a>
          <a href="https://www.reddit.com/u/bluecoffee"><img src='/icons/reddit-brands.svg' alt='Reddit'></a>
          <a href="https://stackoverflow.com/users/2565457/andy-jones"><img src='/icons/stack-overflow-brands.svg' alt='StackOverflow'></a>
        </div>
      </div>
    </div>

    <div class="tinted">
      <div id="content" class="column">
        {{content}}
      </div>
      <div class="column">
        <small>{{date}}</small>
      </div>
    </div>


    <div>
      <div id="footer" class="column">
        <a href="https://fontawesome.com/license">icons by dave gandy</a>, theme by <a title="i have never been funny" href="https://color-hex.org/color/6d2e98">#6d2e98</a>
      </div>
    </div>
  </body>

</html>
